<h1>Perfiles <% if current_user.rol.descripcion!='Administrador'%><%= current_user.rol.descripcion%><%end%></h1>
<%= link_to 'Generar Perfil', new_informe_path, :class => "btn btn-info" %>
<Table class="table">
  <tr>
    <thead class="thead-dark">
   
    <th> Nombre Trabajador </th>
    
    <th> Cargo Asignado</th>
    
    <th> Opciones </th>
  </thead>
  </tr>

  <% @informes.each do |t| %>
  
 <% if t.estado == true %>
  <tr>
  
  <td><%= t.estudiante.nombreestudiante %> <%= t.estudiante.apellidopa %> <%= t.estudiante.apellidoma %></td>
  <td><%= t.resultado %>
  

  </td>
  <td>
  <%= link_to 'Mostrar', informe_url(t), class:"btn btn-outline-success  btn-sm" %>


    
	<% unless t.estado.nil? %>
	<% if t.estado == true %>
			
	  <%= link_to 'Eliminar', edit_informe_url(t), class: "btn btn-danger btn-sm",
                        method: :delete, data: {confirm: '¿Estas seguro?'} %>
    <% end %>
	  <% end %>
</td>
</tr>
<% end %>
<%end%>
</table>