<%= form_for(@user, :html => {:role => 'form'}) do |f| %>
  <%flash.each do |name , msg| %>
    <div class="alert alert-<%= name %>">
      <%= msg %>
    </div>
  <% end %>

 

<div class="form">
  <h1 class="text-center"> Registro de Usuarios</h1>

  <div class="row">

  <div class="col">
  <div class="field">
    <%= f.label :primer_nombre %><br/>
    <%= f.text_field :nombre, autofocus: true, class: "form-control", placeholder: "Primer nombre" %>
  </div><br>
</div>

  <div class="col">
  <div class="field">
    <%= f.label :primer_apellido %><br/>
    <%= f.text_field :apellidopa, autofocus: true, class: "form-control", placeholder: "Primer apellido" %>
  </div>
  </div>
</div>

<div class="row">

    <div class="col">
  <div class="field">
    <%= f.label :segundo_apellido %><br/>
    <%= f.text_field :apellidoma, autofocus: true, class: "form-control", placeholder: "Primer apellido" %>
  </div>
  </div>
</div>
  <div class="row">
    <div class="col">
  <div class="field">
    <%= f.label :rut %><br/>
    <%= f.text_field :rut, autofocus: true, class:"form-control", placeholder: "Rut" %>
  </div><br>
</div>
  <div class="col">
  <div class="field">
    <%= f.label :fecha_nacimiento %><br/>
    <%= f.date_field :fecha_nacimiento, autofocus: true, class:"form-control" %>
  </div>
</div>
  <div class="col">
  <div class="field">
    <%= f.label :email %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "Email" %>
  </div>
</div>
</div>

<div class="row">
  
  <div class="col">
<div class="field">
  <%= f.label :celular %><br/>
  <%= f.text_field :telefono, autofocus: true, class: "form-control", placeholder:"Celular" %>
</div>
</div>
</div>
<br>
<div class="row">
  <div class="col">
<div class="field">
  <%= f.label :Tipo_de_usuario %>
  <%= f.collection_select :rol_id, Rol.all, :id, :descripcion ,{:include_blank => "Seleccionar Rol"},{class: "btn btn-outline-info btn-sm"}  %>
 
</div>
</div>





<% if @user.rol.descripcion=="Sicologo" || @user.rol.descripcion=='Asistente Social' %>


<%= f.collection_select :carrera_id, Facultad.where(:estado => true), :id, :nombrefacultad, {:include_blank => "Seleccionar Facultad"},{class: "btn btn-outline-info btn-sm"}  %>



<%end%>


<% if @user.rol.descripcion=="Tutor" || @user.rol.descripcion=='Jefe de Carrera' %>
<div class="col">
<label for="formGroupExampleInput">Carrera: </label>
<%= f.collection_select :carrera_id, Carrera.where(:facultad_id => @user.facultad_id).where(:estado =>true), :id, :nombrecarrera, {:include_blank => "Seleccionar Carrera"},{class: "btn btn-outline-info btn-sm"}  %>
<%end%></div>

<div class="col">
</div>

<div class="col">

 <div class="field">
    <%= f.label "Estado" %> <br />
    <%= f.check_box :estado %> <br />
</div>
</div>

 </div>
  <div class="actions">
    <%= f.submit "Guardar Usuario" ,class:"btn btn-info"%>
  </div>
<% end %>
</div>