<%= form_for(@facultad, :html => {:role => 'form'}) do |f| %>
  
  <div class="form">
    <h1 class="text-center"> Actualizacion de Facultad</h1>
  
    <div class="row">
  
    <div class="col">
    <div class="field">
      <%= f.label :nombrefacultad %><br/>
      <%= f.text_field :nombrefacultad, autofocus: true, class: "form-control", placeholder: "Nombre" %>
    </div><br>
  </div>
  
  
  <div class="col">
  
   <div class="field">
      <%= f.label "Estado" %> <br />
      <%= f.check_box :estado %> <br />
  </div>
  </div>
  
   </div>
    <div class="actions">
      <%= f.submit "Guardar Facultad" ,class:"btn btn-success"%>
    </div>
  <% end %>
  </div>